html {
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  background-color: $dark;
  color: rgba(30, 30, 30, .9);
}

section#main {
  padding: 40px 0;
  background-color: #fff;
}