.experience-entry {
  position: relative;
  padding: 40px;
  padding-right: 0;
  border-left: 3px solid $white-smoke;
}

.experience-entry:not(:last-child) {
  padding-bottom: 0;
}

.experience-entry:before {
  content: '';
  position: absolute;
  left: -14px;
  top: 40px;
  width: 25px;
  height: 25px;
  background-color: $white-smoke;
  border-radius: 50%;
}

.experience-date {
  font-size: 12px;
}

.experience-headlines {
  margin: 0;
  margin-top: 10px;
  font-size: 12px;
}