.tag {
  display: inline-block;
  margin: 0 3px;
  padding: 2px 8px;
  background-color: $success;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
}

.tag-secondary {
  background-color: transparent;
  border: 1px solid $light-grey;
  color: $mid-grey;
}